@charset "utf-8";

html.important-alert {
	background-color: #fff !important;
	color: #222 !important
}

.important-alert-inner {
	display: flex !important;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	min-width: 320px;
	min-height: 320px;
	width: 100%;
	height: 100%;
	text-align: center
}

.important-alert-inner * {
	margin-left: auto;
	margin-right: auto
}

.important-alert-inner h3,
.important-alert-inner a {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.important-alert-inner h3,
.important-alert-inner p {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 600px;
	max-width: 100%;
	padding-left: 20px;
	padding-right: 20px
}

.important-alert-inner h3 {
	margin-bottom: 4px;
	font-size: 25px;
	font-weight: 400;
	cursor: default
}

.important-alert-inner p {
	font-size: 15px;
	cursor: default
}

.important-alert-inner a {
	display: inline-block;
	height: 42px;
	padding: 0 40px;
	margin-top: 32px;
	background-color: #222;
	color: #fff !important;
	font-size: 15px;
	line-height: 42px;
	border-radius: 21px
}

html.gpu .important-alert-inner a {
	transition: background-color .2s
}

html.no-touch .important-alert-inner a:hover,
html.touch .important-alert-inner a.hover {
	background-color: #333
}



@media (prefers-color-scheme: dark) {
	
	html.important-alert {
		background-color: #000 !important;
		color: #bbb !important
	}
	
	.important-alert-inner a {
		background-color: #181818;
		color: #bbb !important
	}

	html.no-touch .important-alert-inner a:hover,
	html.touch .important-alert-inner a.hover {
		background-color: #1c1c1c
	}
	
}