@charset "utf-8";

.activity-func,
.activity-content-wrap {
	opacity: 1 !important;
	transition: opacity .2s
}

.activity-func {
	max-width: 728px;
	height: 36px;
	margin: 20px auto 40px;
	text-align: center
}

.activity-func ul {
	display: inline-block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 240px;
	max-width: 320px;
	width: 90%;
	height: 36px;
	border: 2px solid;
    font-size: 13px;
	line-height: 32px;
	border-radius: 18px
}

.activity-func ul:before {
	content: "";
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 33.33%;
	height: 100%;
	border-radius: 16px
}

html.show-comments .activity-func ul:before {
	left: 0
}

html.show-export .activity-func ul:before {
	left: 33.33%
}

html.show-info .activity-func ul:before {
	left: 100%;
	margin-left: -33.32%
}

html.gpu .activity-func ul:before {
	transition: left .4s, margin-left .4s
}

.activity-func li {
	float: left;
	width: 33.33%
}

.activity-func li button {
	display: block;
	overflow: hidden;
	position: relative;
	z-index: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
    height: 32px;
	padding: 0 8px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap
}

.activity-func li button .number {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	margin-left: 1px;
	font-size: 11px
}

.activity-func li button .number:before {
	content: attr(data-count)
}

.activity-func li button .number[data-count="(0)"] {
	display: none
}

html.show-comments .show-comments-button,
html.show-export .show-export-button,
html.show-info .show-related-button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	cursor: default
}

html.gpu.show-comments .show-comments-button,
html.gpu.show-export .show-export-button,
html.gpu.show-info .show-related-button {
	transition: color .3s
}

.activity-content-wrap {
	overflow: hidden;
	position: relative;
	padding-bottom: 56px;
	margin: 0 -20px -56px
}

.activity-content-wrap iframe[id*="lv-comment"] {
	z-index: 1 !important
}

.activity-content-wrap:after {
	content: "";
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	position: absolute;
	z-index: 5;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 56px
}

.activity-content {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px
}

html.gpu .activity-content {
	display: block !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	transition: opacity .2s;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-height: 100%;
	opacity: 0 !important
}

html.gpu.show-comments #comments,
html.gpu.show-export #export,
html.gpu.show-info #related {
	position: relative !important;
	-webkit-touch-callout: default !important;
	-webkit-user-select: auto !important;
	-moz-user-select: auto !important;
	-ms-user-select: auto !important;
	user-select: auto !important;
	pointer-events: auto !important;
	opacity: 1 !important;
	height: auto !important;
	transition-delay: .2s
}



/* 연관 글 */

.related-content {
	max-width: 1100px;
	margin: auto
}

.related-content:after,
#related .gallery ul:after,
#related .card-type ul:after {
	content: "";
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	clear: both;
	display: block
}

.related-content:after {
	height: 1px;
	margin-bottom: -1px
}

#related .gallery ul {
	margin: 0 -10px -20px
}

#related .gallery .related-item {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 25%;
	padding: 0 10px 20px
}

#related .gallery .related-item:nth-child(4n + 1) {
	clear: both
}

#related .text-type ul {
	margin: 0 -10px
}

#related .text-type .related-item:first-child .index-item-wrap {
	padding-top: 11px
}

#related .text-type .related-item:first-child .index-item-link {
	border-top-width: 1px;
	border-top-style: solid
}

#related .text-type .itemlength0 .related-item.blank1 {
	display: block !important
}

#related .more-contents-wrap {
	clear: both;
	text-align: center;
	margin-top: 41px;
	margin-bottom: 21px
}

#related .more-contents {
	display: inline-block;
	overflow: hidden;
	position: relative;
	padding: 0 31px 0 10px;
	font-size: 17px;
	font-weight: 700;
	line-height: 32px;
	text-overflow: ellipsis;
	white-space: nowrap
}

#related .more-contents:after {
	content: "\e901";
	position: absolute;
	top: 50%;
	right: -21px;
	width: 80px;
	height: 80px;
	margin-top: -40px;
	color: inherit
}

#related .card-type ul {
	margin: -20px
}

#related .card-type .related-item {
	float: left;
	width: 25%
}

#related .card-type .related-item:nth-child(4n + 1) {
	clear: both
}

#related .card-type .itemlength0 .related-item.blank1,
#related .card-type .itemlength0 .related-item.blank2,
#related .card-type .itemlength0 .related-item.blank3,
#related .card-type .itemlength0 .related-item.blank4,
#related .card-type .itemlength1 .related-item.blank1,
#related .card-type .itemlength1 .related-item.blank2,
#related .card-type .itemlength1 .related-item.blank3,
#related .card-type .itemlength2 .related-item.blank1,
#related .card-type .itemlength2 .related-item.blank2,
#related .card-type .itemlength3 .related-item.blank1 {
	display: block
}



/* 내보내기 */

#export {
	padding-left: 0 !important;
	padding-right: 0 !important
}

.export-content {
	max-width: 800px;
	margin: 0 auto 24px
}

#export.disabled .export-content {
	pointer-events: none
}

#export ul:after {
	content: "";
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	display: block;
	clear: both
}

#export .export-item {
	float: left;
	position: relative;
	width: 16.66%
}

#export .export-item:nth-child(6n + 1) {
	clear: both
}

#export .export-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

#export.disabled .export-link {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	cursor: default
}

#export .export-visual {
	display: block !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 0;
	padding-top: 100%;
	cursor: default
}

#export.disabled .export-visual {
	opacity: .2
}

html.gpu.deptheffect.no-touch #export:not(.disabled) .export-visual {
	transition: transform .2s
}

html.gpu.deptheffect.no-touch #export:not(.disabled) .export-link:active + .export-visual {
	transform: scale(.95)
}

#export .export-visual:before,
#export .export-visual:after {
	position: absolute;
	top: 50%;
	left: 50%
}

#export .export-visual:before {
	content: "";
	width: 30px;
	height: 30px;
	margin: -25px -15px
}

#export .export-visual:after {
	width: 80px;
	height: 80px;
	margin: -50px -40px
}

html.gpu #export:not(.disabled) .export-visual:before {
	transition: background-color .2s
}

html.gpu #export:not(.disabled) .export-visual:after {
	transition: color .2s
}

html.no-touch #export:not(.disabled) .export-link:hover + .export-visual:before,
html.touch #export:not(.disabled) .export-link.hover + .export-visual:before {
	background-color: #fff !important
}

#export .export-visual.subscribe-on-tistory:after {
	content: "\e951"
}

#export .export-visual.subscribe-on-tistory.following:after {
	content: "\e94e"
}

#export .export-visual.kakaotalk:after {
	content: "\e92b"
}

html.no-touch #export:not(.disabled) .export-link:hover + .export-visual.kakaotalk:before,
html.touch #export:not(.disabled) .export-link.hover + .export-visual.kakaotalk:before {
	background-color: #3c1e1e !important
}

html.no-touch #export:not(.disabled) .export-link:hover + .export-visual.kakaotalk:after,
html.touch #export:not(.disabled) .export-link.hover + .export-visual.kakaotalk:after {
	color: #fae100 !important
}

#export .export-visual.line-app:after {
	content: "\e92c"
}

html.no-touch #export:not(.disabled) .export-link:hover + .export-visual.line-app:after,
html.touch #export:not(.disabled) .export-link.hover + .export-visual.line-app:after {
	color: #00c300 !important
}

#export .export-visual.twitter:after {
	content: "\e92d"
}

html.no-touch #export:not(.disabled) .export-link:hover + .export-visual.twitter:after,
html.touch #export:not(.disabled) .export-link.hover + .export-visual.twitter:after {
	color: #1da1f2 !important
}

#export .export-visual.facebook:after {
	content: "\e92e"
}

html.no-touch #export:not(.disabled) .export-link:hover + .export-visual.facebook:after,
html.touch #export:not(.disabled) .export-link.hover + .export-visual.facebook:after {
	color: #1877f2 !important
}

#export .export-visual.kakaostory:after {
	content: "\e92f"
}

html.no-touch #export:not(.disabled) .export-link:hover + .export-visual.kakaostory:after,
html.touch #export:not(.disabled) .export-link.hover + .export-visual.kakaostory:after {
	color: #fec10d !important
}

#export .export-visual.band-app:after {
	content: "\e930"
}

html.no-touch #export:not(.disabled) .export-link:hover + .export-visual.band-app:after,
html.touch #export:not(.disabled) .export-link.hover + .export-visual.band-app:after {
	color: #21c531 !important
}

#export .export-visual.naver-app:after {
	content: "\e931"
}

html.no-touch #export:not(.disabled) .export-link:hover + .export-visual.naver-app:after,
html.touch #export:not(.disabled) .export-link.hover + .export-visual.naver-app:after {
	color: #00c73c !important
}

#export .export-visual.google-app:after {
	content: "\e932"
}

html.no-touch #export:not(.disabled) .export-link:hover + .export-visual.google-app:after,
html.touch #export:not(.disabled) .export-link.hover + .export-visual.google-app:after {
	color: #db4437 !important
}

#export .export-visual.pocket-app:after {
	content: "\e933"
}

html.no-touch #export:not(.disabled) .export-link:hover + .export-visual.pocket-app:after,
html.touch #export:not(.disabled) .export-link.hover + .export-visual.pocket-app:after {
	color: #ec4259 !important
}

#export .export-visual.evernote:after {
	content: "\e934"
}

html.no-touch #export:not(.disabled) .export-link:hover + .export-visual.evernote:after,
html.touch #export:not(.disabled) .export-link.hover + .export-visual.evernote:after {
	color: #7ac143 !important
}

.export-visual p {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 20px;
	margin-top: 30px;
	font-size: 12px;
	line-height: 20px;
	text-align: center
}



/* 주중 */

html.day .activity-func ul {
	border-color: #222;
	background-color: #222
}

html.day .activity-func ul:before {
	background-color: #fff
}

html.day #export .export-visual:after {
	color: #222
}

html.day.show-comments .show-comments-button,
html.day.show-export .show-export-button,
html.day.show-info .show-related-button {
	color: #222 !important
}

html.day .activity-content-wrap:after {
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1))
}

html.day .activity-func li button {
	color: #fff
}

html.day.no-touch .activity-func li button:hover,
html.day.touch .activity-func li button.hover {
	color: rgba(255, 255, 255, .8)
}



/* 여명 */

html.dawn .activity-func ul {
	border-color: #22201e;
	background-color: #22201e
}

html.dawn .activity-func ul:before {
	background-color: #e3d9cc
}

html.dawn #export .export-visual:after {
	color: #22201e
}

html.dawn.show-comments .show-comments-button,
html.dawn.show-export .show-export-button,
html.dawn.show-info .show-related-button {
	color: #22201e !important
}

html.dawn .activity-content-wrap:after {
	background: linear-gradient(rgba(227, 217, 204, 0), rgba(227, 217, 204, 1))
}

html.dawn.no-touch .activity-func li button:hover,
html.dawn.touch .activity-func li button.hover {
	color: rgba(227, 217, 204, .8)
}

html.dawn .activity-func li button {
	color: #e3d9cc
}



/* 밤 */

html.night .activity-func ul {
	border-color: #181818;
	background-color: #181818
}

html.night .activity-func ul:before,
html.night #export .export-visual:before {
	background-color: #bbb
}

html.night #export .export-visual:after {
	color: #181818
}

html.night.show-comments .show-comments-button,
html.night.show-export .show-export-button,
html.night.show-info .show-related-button {
	color: #181818 !important
}

html.night.no-touch .activity-func li button:hover,
html.night.touch .activity-func li button.hover {
	color: #999
}

html.night .activity-content-wrap:after {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))
}



@media (prefers-color-scheme: dark) {
	
	html.day.sysui .activity-func li button {
		color: #bbb
	}
	
	html.day.sysui .activity-func ul {
		border-color: #181818;
		background-color: #181818
	}

	html.day.sysui .activity-func ul:before,
	html.day.sysui #export .export-visual:before {
		background-color: #bbb
	}

	html.day.sysui #export .export-visual:after {
		color: #181818
	}

	html.day.sysui.show-comments .show-comments-button,
	html.day.sysui.show-export .show-export-button,
	html.day.sysui.show-info .show-related-button {
		color: #181818 !important
	}

	html.day.sysui.no-touch .activity-func li button:hover,
	html.day.sysui.touch .activity-func li button.hover {
		color: #999
	}

	html.day.sysui .activity-content-wrap:after {
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1))
	}
	
}



@media
(-webkit-min-device-pixel-ratio: 2),
(min--moz-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2),
(min-resolution: 144dpi),
(min-resolution: 2dppx) {

	html.effect:not(.goog) #related .text-type .related-item:first-child .index-item-wrap {
		padding-top: 10.5px
	}
	
	html.effect:not(.goog) #related .text-type .related-item:first-child .index-item-link {
		border-top-width: .5px
	}
	
}



@media
(-webkit-min-device-pixel-ratio: 3),
(min--moz-device-pixel-ratio: 3),
(min-device-pixel-ratio: 3),
(min-resolution: 216dpi),
(min-resolution: 3dppx) {

	html.effect:not(.goog) #related .text-type .related-item:first-child .index-item-wrap {
		padding-top: 10.66px
	}
	
	html.effect:not(.goog) #related .text-type .related-item:first-child .index-item-link {
		border-top-width: .66px
	}
	
}



@media (min-width: 2048px) {
	
	.related-content.gallery,
	.related-content.card-type {
		max-width: 1466px
	}
	
}



@media (min-width: 1140px) and (max-width: 2047px) {
	
	#related .gallery.poster-type .index-item-text {
		padding: 78px 20px
	}
	
	#related .gallery.poster-type .index-item-text h3 {
		min-height: 41.25px;
		font-size: 22px
	}
	
}



@media (min-width: 960px) and (max-width: 1139px) {
	
	#related .gallery.poster-type .index-item-text {
		padding: 6.8421vw 1.7544vw
	}
	
	#related .gallery.poster-type .index-item-text h3 {
		min-height: 3.6184vw;
		font-size: 1.9298vw
	}
	
}



@media
(min-width: 960px),
(min-width: 641px) and (max-width: 760px) {

	#related .gallery .itemlength0 .related-item.blank1,
	#related .gallery .itemlength0 .related-item.blank2,
	#related .gallery .itemlength0 .related-item.blank3,
	#related .gallery .itemlength0 .related-item.blank4,
	#related .gallery .itemlength1 .related-item.blank1,
	#related .gallery .itemlength1 .related-item.blank2,
	#related .gallery .itemlength1 .related-item.blank3,
	#related .gallery .itemlength2 .related-item.blank1,
	#related .gallery .itemlength2 .related-item.blank2,
	#related .gallery .itemlength3 .related-item.blank1 {
		display: block !important
	}
	
}



@media 
(min-width: 761px) and (max-width: 959px),
(max-width: 640px) {
	
	#related .gallery .related-item {
		width: 50%
	}
	
	#related .gallery .related-item:nth-child(2n+1) {
		clear: both
	}
	
	#related .gallery .itemlength0 .related-item.blank1,
	#related .gallery .itemlength0 .related-item.blank2,
	#related .gallery .itemlength1 .related-item.blank1,
	#related .gallery .itemlength3 .related-item.blank1 {
		display: block !important
	}
	
}



@media (max-width: 960px) {
	
	#related .card-type .related-item {
		width: 50%
	}

	#related .card-type .related-item:nth-child(2n + 1) {
		clear: both
	}

	#related .card-type .itemlength0 .related-item.blank3,
	#related .card-type .itemlength0 .related-item.blank4,
	#related .card-type .itemlength1 .related-item.blank2,
	#related .card-type .itemlength1 .related-item.blank3,
	#related .card-type .itemlength2 .related-item.blank1,
	#related .card-type .itemlength2 .related-item.blank2 {
		display: none
	}
	
}



@media (min-width: 641px) and (max-width: 760px) {
	
	.gallery.poster-type .index-item-text {
		padding: 8.4211vw 2.6316vw
	}
	
	.gallery.poster-type .index-item-text h3 {
		min-height: 4.4408vw;
		font-size: 2.5vw
	}
	
}



@media (max-width: 760px) {
	
	#related .gallery ul {
		margin: 0 -21px -1px -20px
	}
	
	#related .card-type ul {
		margin-left: -15px;
		margin-right: -15px
	}
	
	#related .gallery .related-item {
		padding: 0 1px 1px 0
	}
	
	#related .more-contents-wrap {
		margin-bottom: 1px
	}
	
	#related .more-contents {
		font-size: 16px
	}
	
	#export .export-item {
		width: 20%
	}
	
	#export .export-item:nth-child(6n + 1) {
		clear: none
	}

	#export .export-item:nth-child(5n + 1) {
		clear: both
	}
	
}



@media (min-width: 540px) and (max-width: 640px) {
	
	.gallery.poster-type .index-item-text {
		padding: 76px 20px
	}
	
	.gallery.poster-type .index-item-text h3 {
		min-height: 48.75px;
		font-size: 26px
	}
	
}



@media (max-width: 640px) {
	
	.export-content {
		margin-bottom: -5px
	}
	
	#export .export-visual {
		height: 128px;
		padding-top: 128px
	}
	
	html.no-touch #export .export-item {
		width: 25%
	}
	
	html.no-touch #export .export-item:nth-child(5n + 1) {
		clear: none
	}

	html.no-touch #export .export-item:nth-child(4n + 1) {
		clear: both
	}
	
	html.touch .export-content {
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch
	}
	
	html.touch #export ul {
		width: 100%
	}
	
}



@media (max-width: 560px) {
	
	html.touch #export ul {
		width: 110%
	}
	
}



@media (max-width: 540px) {
	
	#related .card-type .related-item {
		width: 100%
	}

	#related .card-type .related-item {
		clear: both
	}
	
}



@media (max-width: 510px) {
	
	html.no-touch #export .export-item {
		width: 33.33%
	}
	
	html.no-touch #export .export-item:nth-child(4n + 1) {
		clear: none
	}

	html.no-touch #export .export-item:nth-child(3n + 1) {
		clear: both
	}
	
	#related .card-type .itemlength0 .related-item.blank2,
	#related .card-type .itemlength1 .related-item.blank1,
	#related .card-type .itemlength3 .related-item.blank1 {
		display: none
	}
	
}



@media (max-width: 460px) {
	
	html.touch #export ul {
		width: 137.5%
	}
	
}



@media (max-width: 400px) {
	
	.activity-content-wrap {
		margin-left: -5vw;
		margin-right: -5vw
	}
	
	.activity-content {
		padding-left: 5vw;
		padding-right: 5vw
	}
	
	.activity-func {
		margin-top: 5vw
	}
	
	#related .gallery ul {
		margin: 0 calc(-5vw - 1px) -1px -5vw
	}
	
	#related .card-type ul {
		margin-top: -5vw;
		margin-bottom: -5vw
	}
	
	#related .text-type .related-item:first-child .index-item-wrap {
		padding-top: calc(2.5vw + 1px)
	}
	
}



@media
(-webkit-min-device-pixel-ratio: 2) and (max-width: 400px),
(min--moz-device-pixel-ratio: 2) and (max-width: 400px),
(min-device-pixel-ratio: 2) and (max-width: 400px),
(min-resolution: 144dpi) and (max-width: 400px),
(min-resolution: 2dppx) and (max-width: 400px) {

	html.effect:not(.goog) #related .text-type .related-item:first-child .index-item-wrap {
		padding-top: calc(2.5vw + .5px)
	}
	
}



@media
(-webkit-min-device-pixel-ratio: 3) and (max-width: 400px),
(min--moz-device-pixel-ratio: 3) and (max-width: 400px),
(min-device-pixel-ratio: 3) and (max-width: 400px),
(min-resolution: 216dpi) and (max-width: 400px),
(min-resolution: 3dppx) and (max-width: 400px) {

	html.effect:not(.goog) #related .text-type .related-item:first-child .index-item-wrap {
		padding-top: calc(2.5vw + .66px)
	}
	
}



@media (max-width: 380px) {

	html.no-touch #export .export-item {
		width: 50%
	}
	
	html.no-touch #export .export-item:nth-child(3n + 1) {
		clear: none
	}

	html.no-touch #export .export-item:nth-child(2n + 1) {
		clear: both
	}
	
}



@media (max-width: 360px) {
	
	html.touch #export ul {
		width: 183.325%
	}
	
}



@media (max-width: 320px) {
	
	.activity-content-wrap {
		margin-left: -16px;
		margin-right: -16px
	}
	
	.activity-content {
		padding-left: 16px;
		padding-right: 16px
	}
	
	.activity-func {
		margin-top: 16px
	}
	
	#related .gallery ul {
		margin: 0 -17px -1px -16px
	}
	
	#related .card-type ul {
		margin-top: -16px;
		margin-bottom: -16px
	}
	
	#related .text-type .related-item:first-child .index-item-wrap {
		padding-top: 8px
	}
	
}



@media
(-webkit-min-device-pixel-ratio: 2) and (max-width: 320px),
(min--moz-device-pixel-ratio: 2) and (max-width: 320px),
(min-device-pixel-ratio: 2) and (max-width: 320px),
(min-resolution: 144dpi) and (max-width: 320px),
(min-resolution: 2dppx) and (max-width: 320px) {

	html.effect:not(.goog) #related .text-type .related-item:first-child .index-item-wrap {
		padding-top: 8.5px
	}
	
}



@media
(-webkit-min-device-pixel-ratio: 3) and (max-width: 320px),
(min--moz-device-pixel-ratio: 3) and (max-width: 320px),
(min-device-pixel-ratio: 3) and (max-width: 320px),
(min-resolution: 216dpi) and (max-width: 320px),
(min-resolution: 3dppx) and (max-width: 320px) {

	html.effect:not(.goog) #related .text-type .related-item:first-child .index-item-wrap {
		padding-top: 8.66px
	}
	
}