@charset "utf-8";

@font-face {
	
	font-family: "NanumMyeongjo (Modified)";
	font-style: normal;
	font-weight: 400;
	src: local("※"), url(./webfont_nm_400.woff2?fcver=2350) format("woff2"), url(./webfont_nm_400.woff?fcver=2350) format("woff");
	font-display: swap
		
}

@font-face {
	
	font-family: "NanumMyeongjo (Modified)";
	font-style: normal;
	font-weight: 700;
	src: local("※"), url(./webfont_nm_700.woff2?fcver=2350) format("woff2"), url(./webfont_nm_700.woff?fcver=2350) format("woff");
	font-display: swap
		
}